.login-container{
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    // width: 300px;
}
  
input {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.error-message {
    color: red;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
}