<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-2">
      <label for="title">Título</label>
      <input class="form-control input" id="title" formControlName="title" required />
    </div>
    
    <div class="form-group mb-2">
      <label for="description">Descripción</label>
      <textarea class="form-control" rows="3" id="description" formControlName="description"></textarea>
    </div>

    <div class="form-group mb-2" *ngIf="taskToEdit">
        <label for="status">Estado</label>
        <select class="form-control-select form-control input form-select" id="status" formControlName="status">
          <option value="pending">Pendiente</option>
          <option value="completed">Completada</option>
        </select>
    </div>
    <div style="display: flex; gap: 15px;">
        <button class="btn btn-primary btn-mobile mt-1" type="submit">Guardar Tarea</button>
        <button class="btn btn-secondary btn-mobile mt-1" (click)="onCancel()">Cancelar</button>
    </div>
</form>